.carousel__panel {
    &-ur {

        // background: url('./images/clay-tablet-fill.png');
        // background-repeat: round;
        // background-size: cover;
        // padding: 4vw;

        &--title {
            text-decoration: underline;
            text-decoration-color: #000000;
            text-shadow: 2px 2px 2px #5a4a3b;
            text-decoration-thickness: from-font;
        }

        &--body {
            display: flex;
        }
    }
}