.carousel {

    position: absolute;
    transform-style: preserve-3d;
    transition: transform, 1s;

    &__panel {
        position: absolute;
        box-sizing: border-box;
        transition: opacity, 1s;
        backface-visibility: hidden;
        border-radius: 10%;
        background-color: #ffffffd6;
        overflow: hidden;

        &-indicator {

            z-index: 3;
            position: absolute;
            pointer-events: none;
            display: flex;
            justify-content: center;
            width: 100%;

            transition: transform, 1s, bottom 1s, left 1s;

            &-item {
                position: relative;
                opacity: .5;
                width: 20px;
                height: 8px;
                border-radius: 25px;
                margin: 5px 7px;
                box-shadow: inset 0 0 0 4px #fff;

                &--selected {
                    box-shadow: inset 0 0 0 4px #fff, 0 0 2px 2px #fff, 0 0 4px 4px #0ff;
                    opacity: 1;
                }
            }

            &--y {
                transform: rotate(0deg);
                bottom: 4.5vh;
                left: 0;
            }

            &--x {
                transform: rotate(90deg);
                bottom: 50%;
                left: calc(-50% + 4.5vh);
            }
        }

        &-flipper {
            z-index: 3;
            position: absolute;
            outline: none;
            background: none;
            border: 0;
            bottom: 3.5vh;
            right: 3.5vh;
            font-size: 4rem;
            padding: 20px;
            box-shadow: 0 0 0 4px #fff;
            transition: transform, 1s;
            border-radius: 25%;
        }

        &-placeholder {
            height: 100%;
            font-size: 50vh;
        }
    }
}