.carousel {

    position: absolute;
    transform-style: preserve-3d;
    transition: transform, 1s;

    &__panel {
        position: absolute;
        box-sizing: border-box;
        transition: opacity, 1s;
    }
}