// SVG tag only really used for titles..
svg {
    width: 800px;
    height: 200px;
}

.entry {
    &__container {
        display: flex;
        flex-direction: column;
        height: 100vh;

        transition: opacity .3s;
    }

    &__header {
        position: relative;
        box-sizing: border-box;
        border: solid white;
        border-width: 1px 2px;
        max-height: 200px;
        width: 100%;

        transition: max-height .3s, background-image .3s;

        &:hover {
            & > .entry__header-cut {
                border-left: 150px solid transparent;
            }
            & > .entry__header-controller {
                opacity: 1;
                pointer-events: auto;
            }
            & > svg {
                background: linear-gradient(90deg, rgba(255,255,255,0.15) 1%, rgba(255,255,255,.005) 100%);
            }
        }

        &-title {
            fill: rgba(255, 255, 255, .9);
            stroke: black;
            stroke-width: 1px;
            stroke-linejoin: round;
            font-size: 22px;
            font-weight: 700;
        }

        &-cut {
            width: 0;
            height: 0;
            border-top: 150px solid white;
            border-left: 0px solid transparent;
            top: 0;
            right: 0;
            position: absolute;

            transition: border-left .3s ease-out;
        }

        &-controller {
            position: absolute;
            right: 0;
            top: 10px;
            margin: .8rem;
            background: none;
            border: none;
            outline: none;
            cursor: pointer;
            pointer-events: none;
            opacity: 0;

            transition: opacity .3s cubic-bezier(.27,.34,.44,.92);
        }

        &--open { 
            max-height: 700px;

            & > .entry__body {
                pointer-events: auto;
                opacity: 1;
            }

            & > svg {
                background: none !important;
            }
        }

        // Item specific
        &--ur {
            background-image: url('./images/ur-splash.png');
            background-position-x: center;
            background-size: cover;
            background-position-y: center;

            &--open {
                background-image: url('./images/ur-ziggurat.png');
                background-position-x: center;
                background-size: cover;
                background-position-y: top;
            }
        }
    }

    &__body {
        pointer-events: none;
        box-sizing: border-box;
        overflow: auto;

        height: 460px;
        margin: 0 10% 2rem 10%;
        padding: 1rem;
        background-color: rgba(255, 255, 255, .9);
        opacity: 0;

        transition: opacity 1s;
    }
}