@font-face {
    font-family: Adelon;
    src: url(./fonts/Adelon-Regular.woff);
}

$font__size--large: 22px;
$font__size--heading: 18px;
$font__size--regular: 12px;
$font__size--small: 10px;

.font {

    font-family: Adelon;

    &--large {
        @extend .font;
        font-size: $font__size--large;
    }

    &--heading {
        @extend .font;
        font-size: $font__size--heading;
    }

    &--regular {
        @extend .font;
        font-size: $font__size--regular;
    }

    &--small {
        @extend .font;
        font-size: $font__size--small;
    }
}