.header {

    position: absolute;
    width: 100vw;
    transition: padding-top $transition--slow;
    padding-top: 25vh;

    & > h1:first-child {
        padding-left: 6.25vw;
    }

    &--break {
        background-color: black;
        height: 2px;
    }

    & > h1:last-child {
        padding-left: 8.85vw;
    }

    &--up {
        padding-top: 1vh;
    }
}