.home {
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    outline: none;

    font-size: 1rem;
    border: 0;
    z-index: 11;

    transition: opacity .3s;
}