.landing {
    &__content {
        transition: opacity 0.4s;

        text-align: center;

        &--title {
            font-family: dispence;
        }

        &--enter {
            font-family: dispence;
            font-size: x-large;
            position: relative;
            background: transparent;
            border: 3px solid transparent;
            margin: 2rem;
            padding: .5rem 2rem;

            &:focus {
                outline: none;
            }

            &:hover, &:focus {
                border: 3px solid black;
                border-radius: 2px;

                &::before {
                    content: url("./images/MenuSelectGlove.png");
                    display: inline-block;
                    position: absolute;
                    transform: scale(.4);
                    left: -50%;
                    top: -35%;
                }
            }
        }
    }
}