.link {
    @include global__font-family;

    outline: none;
    text-decoration: none;
    color: $font__colour--primary;

    flex-grow: 1;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;

    padding: 1rem 0;
    margin: 0 .5rem;
    max-width: 150px;
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid transparent;

    &:hover {
        color: $font__colour--secondary;
        border-bottom: 1px solid $font__colour--secondary;
    }
}