.main {
    &__content {
        transition: opacity .4s;

        width: 1000px;
    }

    &__footer {
        position: sticky;
        outline: none;
        bottom: 0;
        left: 0;

        & > img {
            z-index: 1;
        }

        &--exp {
            position: absolute;
            box-sizing: border-box;
            
            font-family: dispence;
            font-size: .6rem;
            text-align: center;
            line-height: 12px;

            height: 12px;
            width: 100%;
            bottom: 0;
            border: 1px solid lightgrey;
            background: repeating-linear-gradient(-45deg, #7d98b4, #7d98b4 18px, lightgrey 10px, lightgrey 20px);
        }
    }
}