
/*
 * Vars
 */
 $card__height: 250px;
 $card__width: 250px;
 $card__margin: 1rem;
 $card__box-shadow: 5px 5px 12px -6px rgba(0,0,0,.4);
 $card__box-shadow--hover: 5px 5px 12px -6px rgba(0,0,0,1);
 $card__border-radius: 4px;
 $card__transition: all .5s;
 
 $card__header--height: 10%;
 $card__header--width: 100%;
 $card__header--margin: 1rem;
 
 $card__actions--height: 20%;
 $card__actions--width: 100%;
 
 /*
  * Class
 */
.subject {
  
    &__identifier {
        transition: $global__transition;

        display: flex;
        width: 100%;
        margin-bottom: 1rem;

        &--item {
            transition: $global__transition;

            pointer-events: none;
            text-align: center;

            flex-grow: 1;
            padding: 1rem;
            border-bottom: 2px solid transparent;

            &--active {
                border-bottom: 2px solid $font__colour--secondary;
                font-weight: bold;
            }
        }
    }

    &__content {
        transition: $global__transition;

        display: flex;
        overflow: hidden;

        width: 100%;
        height: 0;
        opacity: 0;
        margin: 0;

        & * {
            transition: $global__transition;
            opacity: 0;
        }

        &--active {
            transition: $global__transition;

            display: flex;
            overflow: hidden;

            width: 100%;
            height: 400px;
            opacity: 1;
            margin: 2rem 0;

            & * {
                transition: $global__transition;
                opacity: 1;
            }
        }

        &-image {
            box-sizing: border-box;

            height: 100%;
            max-height: 400px;
            width: 35%;
            margin-right: 5%;
            background-color: black;

            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-description {
            display: flex;
            flex-direction: column;
            box-sizing: border-box;

            height: 100%;
            width: 60%;
            padding: 1rem;

            &-title {

                position: relative;
                height: 60px;
                max-height: 60px;
                text-align: center;

                & > button {
                    position: absolute;
                    top: -7px;
                    right: -6px;
                }
            }

            &-body {
                height: 100%;

                & > p {
                    margin-bottom: 1rem;
                }
            }

            &-actions {
                display: flex;
                justify-content: center;
                align-items: center;

                height: 80px;
                max-height: 80px;
            }
        }
    }
  }