.no {
    &--scroll { overflow: hidden; }
    &--display { display: none; }
    &--opacity { opacity: 0; }
}

.flex {
    display: flex;
    &--center { justify-content: center; }
    &--top { justify-content: flex-start; }
}